<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nineTestSuite">
    <test name="Test">
        <classes>
            <class name="com.nine.test.test.HomePageTest"/>
            <class name="com.nine.test.test.PolicyPageTest"/>
            <class name="com.nine.test.test.CompaniesPageTest"/>
        </classes>
    </test>
</suite>